<div class="container">
  <div class="row">
    <div class= "col-12">
      <ul class="nav justify-content-center border-bottom my-2">
        <li class="nav-item">
        <a class="nav-link active" href="#">Dates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Level</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Duration</a>
        </li>
      </ul>
    </div>
  </div>
</div>
