<div class="container">
  <div class="row">
    <div class= "col-12">
      <div class="filter-bar border-bottom">

        <div class="dropdown">
          <div class="filter-button" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Category</div>
          <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
          <% Workshop::CATEGORY.each do |category| %>
          <% href = "/workshops/category?=#{category}" %>
            <%= link_to workshops_path(category: category, level: params[:level]) do  %>
              <div class="dropdown-item"><%= category %></div>
            <% end %>
          <% end %>
          </div>
        </div>


        <a class="nav-link grey" href="#">Level</a>


        <a class="nav-link grey" href="#">Price</a>

        <a class="nav-link grey" href="#">Date</a>

      </ul>
    </div>
  </div>
</div>
