<div class="ml-3 mt-2 grey">
  <div class="row align-items-center">
    <i class="fas fa-map-marker-alt blue mr-2"></i>
    <h5 class="mb-0">Meguro</h5>
  </div>
  <h6>_________________</h6>
  <div class="row align-items-center">
    <i class="fas fa-yen-sign blue mr-2"></i>
    <h5 class="mb-0"><%= @workshop.price %></h5>
  </div>
  <h6>_________________</h6>
  <div class="row align-items-center">
    <i class="fas fa-bars blue mr-2"></i>
    <h5 class="mb-0"><%= @workshop.level %></h5>
  </div>
  <h6>_________________</h6>
  <div class="row align-items-center">
    <i class="fas fa-clock blue mr-2"></i>
    <h5 class="mb-0"><%= @workshop.duration %> min</h5>
  </div>
  <h6>_________________</h6>
</div>
