<div class="ml-5 mt-4 grey ">
  <div class="row align-items-center">
    <i class="fas fa-yen-sign blue mr-2 m_font"></i>
    <h5 class="mb-0 s_font"><%= @workshop.price %></h5>
  </div>
  <div class="l_grey border-bottom pb-3 mb-3"></div>
  <div class="row align-items-center">
    <i class="fas fa-bars blue mr-2 m_font"></i>
    <h5 class="mb-0 s_font"><%= @workshop.level %></h5>
  </div>
  <div class="l_grey border-bottom pb-3 mb-3"></div>
  <div class="row align-items-center">
    <i class="fas fa-clock blue mr-2 m_font"></i>
    <h5 class="mb-0 s_font"><%= @workshop.duration %> min</h5>
  </div>
   <div class="l_grey border-bottom pb-3 mb-3"></div>
  <div class="row align-items-top">
    <i class="fas fa-map-marker-alt blue mr-2 m_font "></i>
    <h5 class="mb-0 s_font address"><%= @workshop.address %></h5>
  </div>
   <div class="l_grey border-bottom pb-3 mb-3"></div>
</div>


<!-- width: 130px; -->
