<%= render 'workshops/filter_bar' %>
<div class="container mt-4" >
  <div class="row">
    <div class="col-8">
       <div class="index-grid">
        <% @workshops.each do |workshop| %>
          <%= render 'workshops/card', workshop: workshop %>
        <% end %>
      </div>
    </div>
    <div class = "col-4" >
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>

