// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$duck-egg-blue: #85D3D2;
// $lime-green: #4F7CAC;
$lime-green: #F15946;
$dark-silver: #494F4F;
$cream: #FAF6F1;
$dark-gray: #2F3333;

// $lime-green: #BBBE64;
$op-blue: rgba(80, 190, 190, 0.5);
// $op-green: rgba(241, 89, 70, 0.5);
// $op-green: rgba(212, 217, 89, 0.5);
