.container-profile {
  margin: 80px;
  padding: 24px;
  display: flex;
  align-items: top;
  justify-content:center;
  h5 {
    color: $duck-egg-blue;
    font-weight: 300;
  }
}


.profile-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content:left;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  margin: 16px;
  font-size: 13px;
  text-align: left;
}


.profile-avatar {
  position:absolute;
  top: -80px;
  left: 30%;
}

.profile-card {
  position: relative;
  top:0px;

}

