<div class="card border-0 text-center shadow-sm" style="width: 18rem;">

  <div class="card-body px-5">
    <h5 class="card-title my-4">
      <%= "#{@user.first_name} #{@user.last_name} " %>
    </h5>
    <button type="button" class="btn btn-outline-success rounded-pill w-100">Edit Profile</button>
  </div>

  <div class="card-body px-5">
    <form>
      <div class="form-group">
        <label>Bio</label>
        <textarea class="form-control" placeholder="Type your bio here"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary rounded-pill w-100">Submit</button>
    </form>
  </div>
</div>

