<div class="card border-0 text-center shadow-sm" style="width: 18rem;">

  <div class="card-body px-5 profile-card">
    <%= cl_image_tag @user.photo, height: 100, width: 100, crop: :fill, class: "avatar-large profile-avatar shadow-sm border border-light" %>

    <h5 class="card-title mt-5 text-secondary">
      <%= "#{@user.first_name} #{@user.last_name}" %>
    </h5>
    <button type="button" class="btn btn-primary rounded-pill w-100 text-white shadow-sm">Edit Profile</button>
  </div>

  <div class="card-body px-5 pb-5">
    <form>
      <div class="form-group">
        <label class="text-secondary">Bio</label>
        <textarea class="form-control l_grey thin" placeholder="Add your bio here"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary rounded-pill w-100 shadow-sm">Submit</button>
    </form>
  </div>
</div>

