<div class="container-profile mx-auto">

  <div class="col-xs-6 col-md-3">
    <%= render 'users/profile_card' %>
  </div>

  <div class="col-xs-12 col-md-8 bg-white shadow-sm">
    <h5 class="mt-4 pl-2">Upcoming <span class="underline"></span>Classes </h5>
    <div class="profile-right-grid">
      <%= render 'users/workshop_booking_card' %>
    </div>

    <hr>

    <h6 class="text-muted mt-4 pl-2">Past Classes </h6>
    <div class="profile-right-grid">

    </div>

  </div>
</div>
