<div class="footer-dream d-flex">
  <div class="col-xs-12 col-sm-5 mx-2">
    <h6>about</h6>
    <p>Craft Classes connects people who wants to discover that creative passion hidden within from short classes, with freelance artisans who have horned their skills over decades.</p>
    <div class="footer-legal">
      <p>© 2019</p>
      <p>Terms & Conditions</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 mx-2">
    <h6>follow us</h6>
    <div class="footer-social">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <form>
      <div class="form-group">
        <label>sign up to our newsletter</label>
        <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="enter email">
      </div>
    <button type="submit" class="btn btn-success btn-sm">submit</button>
    </form>
  </div>
</div>
