<div class="footer-dream d-flex">
  <div class="col-xs-12 col-sm-5 mx-2">
    <h6>about</h6>
    <p><span class="underline blue">Obbis</span> connects people who want to <span class="underline blue">discover that creative passion</span> hidden within, via short classes, with freelance artisans who have honed their skills over decades.</p>
    <div class="footer-legal">
      <p>© 2019</p>
      <p>Terms & Conditions</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 mx-2">
    <h6>follow us</h6>
    <div class="footer-social">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <form>
      <div class="form-group">
        <h6>sign up to our newsletter</h6>
        <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="enter email">
      </div>
    <button type="submit" class="btn btn-primary text-grey btn-sm ">submit</button>
    </form>
  </div>
</div>



