@import "show";
@import "new";

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 24px;
  grid-row-gap: 32px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}
