.container-workshop {
  margin: 64px;
  background: white;
  width: 80%;
  height: 100%;
  margin:80px auto 50px auto;
}

.owner-card {
  flex-grow: 1;
  text-align: center;
  align-items:center;
  margin: 16px 32px;
  padding: 32px 16px;
  // border-left: 1px solid $duck-egg-blue;
  background-color: $light-gray;
  max-width: 200px;
  font-size: 13px;
  font-weight: 300;

}

.img_show {
  height: 300px;
  width: 450px;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 15px 25px 30px 0px;
}

.p_show {
  width: 460px;
  font-size: 15px
}

.address {
  width: 130px;
}

.carousel {
  width: 452px;
}



