
<div class="banner">
  <div class="flex-container">

    <div class="row row-mr">
      <h2>I know how to | <span class="underline grey">Carve Wood</span></h2>
    </div>

    <div class="row row-mr">
      <input class="btn-banner" type="search", placeholder="   Find a workshop near you">
    </div>

    <div class="row row-mr">
      <h4>With <span class="underline">CRAFTS</span> Discover new skills to learn</h2>
    </div>

  </div>
</div>


<div class="container">
 <div class="row flex-container row-mr ">
    <h2>Find you a new <span class="underline blue">Hobby</span></h2>
  </div>
</div>

<div class="card borderless">
  <div class="card-container">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'glass.jpg' %>)">
      Glass
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'pottery.jpg' %>)">
      Pottery
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'sewing.jpg' %>)">
      Sewing | Knitting
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'woodwork.jpg' %>)">
      Wood Crafting
    </div>
  </div>
</div>



