.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),asset_url('banner2.jpg');
  background-position: center;
  background-size: cover;
  background-position: center;

  padding: 110px 0;
  height: 500px;
  font-family: $body-font;
  justify-content: center;

}

.row-mr {
  margin: 18px

}

.row h2 {
  color: $dark-gray;
  font-weight: 300;
  font-size: 25px;
  justify-content: center;
  margin-top: 30px;
}

.banner h3 {
  color: white;
  font-family:$body-font;
  font-weight: 300;
  text-decoration: none;
  font-size: 22px;

}

.banner h2 {
  font-size: 32px;
  color: white;
  font-weight: 400;
  font-family:$body-font;

}


