.btn-banner {
  color: white;
  border-radius: 25px;
  width: 25em;
  height: 3em;
  text-align: center;
  font-weight: 300;
}


.green-tab {
  color: white;
  background-color: $lime-green;
}

.nav-link.active#pills-profile-tab {
  color: white;
  background-color: $lime-green;
}

.nav-link.active#pills-home-tab {
  color: white;
}

.nav-link#pills-home-tab {
  color: $lime-green;
}
