.btn-banner {
  color: white;
  // background-color: rgba(80, 190, 190, 0.7);
  background-color: $duck-egg-blue;


  // border-radius: 25px;
  border-radius: 5px;
  margin: 0px, 0px, 50px, 0px;
  width: 13em;
  height: 3em;
  text-align: center;
  font-weight: 300;
  border: none;
}


.green-tab {
  color: white;
  background-color: $lime-green;
}

.nav-link.active#pills-profile-tab {
  color: white;
  background-color: $lime-green;
}

.nav-link.active#pills-home-tab {
  color: white;
}

.nav-link#pills-home-tab {
  color: $lime-green;
}
