.btn-banner {
  color: white;
  border-radius: 25px;
  width: 25em;
  height: 3em;
  text-align: center;
  font-weight: 300;
}


.btn-edit {
  color: white;
  padding: 8px 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: $dark-gray;
  transition: background 0.3s ease;
}

.img-container:hover .btn-edit {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}


