.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 400;
}

.thin {
  font-weight: 300;
}

.grey {
  color: $dark-gray;
}

.green {
  color: $lime-green;
}

.l_grey {
  color: #C4C4C4;
}

.blue {
  color: $duck-egg-blue
}

h2 {
  font-family: $body-font;

}

.body {
  color: white;
}

.s_font {
  font-size: 14px;
}

.m_font {
  font-size: 17px;
}

.l_font {
  font-size: 22px;
}


.decoration-none {
  text-decoration: none;
}

.highlight-blue {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $op-blue 65%);
}


.highlight-blue {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $op-blue 65%);
}


.highlight-green {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $op-green 65%);
}


