.underline {
  text-decoration: underline;
}

.grey {
  color: $dark-gray;
}

.blue {
  color: $duck-egg-blue
}

h2 {
  font-family: $body-font;

}

.body {
  color: white;
}

.s_font {
  font-size: 13px;
}
