.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: 0px;
  line-height: 2;
  font-size: 14px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}
